Welcome to the Web badge

<p class="news">This website is exists to allow anyone to turn their DC16 badge into a web-badge. To prove it works, this site is hosted by a DC16 web enabled badge!</p>

<p class="news">To keep the site responsive, the larger content is hosted else where. Also, the dynamic content is hosted on another server. The web-badge can only server out static content. A built in web forum is something I pondered with, but in an effort to get the web-badge public, I decided to not worry about it.</p>

<div id="news"></div>
