<ul>
	<li><div class="description">Orbital_sFear</div> Team lead, coder and designer</li>
	<li><div class="description">Dislo</div>Network Partner</li>
	<li><div class="description">DJ Hobo Bastard</div>Oscilliscope help</li>
	<li><div class="description">Kury</div>Badge donation</li>
</ul>
