<ul>
	<li><div class="description"><a href="mailto:orbital_sfear@dc16webbadge.org">Orbital_sFear</a></div> Team lead, coder and designer</li>
	<li><div class="description"><a href="mailto:dislo@dc16webbadge.org">Dislo</a></div>Network Engineer</li>
	<li><div class="description"><a href="mailto:dj_hobo_bastard@dc16webbadge.org">DJ Hobo Bastard</a></div>The Electrical Engineer</li>
	<li><div class="description"><a href="mailto:kury@dc16webbadge.org">Kury</a></div>Hardware debugger, and provider of general BS</li>
</ul>
