<div class="description">Requirements</div>
<ul>
	<li>DEFCON 16 Badge</li>
	<li>USB Micro-B Receptacle</li>
	<li>USB A-type to B-type Cable</li>
	<li>Female DE-9 Connector</li>
	<li>Alligator Clips</li>
	<li>18 Gauge Wire</li>
	<li>Low Wattage Sauder Iron</li>
	<li>Very Small Sauder</li>
	<li>2Gb SD Memory Card</li>
	<li>3V Wall Wart</li>
	<li>Multimeter</li>
</ul>

<p><div class="description">Sauder on the USB Connector</div>
All the badges from DEFCON came with the ability to be programmed (thanks Kingpin).  To do these, you must sauder a USB Micro-B receptacle onto your badge.  I don't think it matters what you do with pin 4, it isn't hooked to anything.</p>

<p><div class="description">Download Freescale CodeWarrior</div>
To compile the badge's code you need to download Evaluation: CodeWarrior for Microcontrollers.  The IDE creates the dc16.abs file needed to be loaded onto the badge.</p>
<a href="http://www.freescale.com/webapp/sps/site/overview.jsp?nodeId=01272600612247">Freescale CodeWarrior 6.2 Evaluation</a>

<p><div class="description">Download Freescale JM60 GUI</div>
To reflash the code onto the badge, you need Freescale's JM60 GUI.  The only version I've used is V1.1 however the only thing I could find online is V1.2.  You can find version 1.1 on the DC16 CD.</p>
<a href="http://www.freescale.com/webapp/sps/download/license.jsp?colCode=JM60_GUI_INSTALLER_V1.2&prodCode=S08JM&location=null&fpsp=1">Freescale JM60 GUI V1.2</a>

<p><div class="description">Get the source code</div>
The Dc16 Web-Badge's source code is stored on github.  It contains everything you need to create the Dc16 Web-Badge.</p>
<a href="http://github.com/OrbitalsFear/dc16-web-badge/tree/master">git clone git://github.com/OrbitalsFear/dc16-web-badge.git</a>


<p><div class="description">Compile the source code</div>
</p>
