<html>
<head>
	<title>DC16 Web badge</title>
	<%= LoadCss.load('default.css', [:body, :main_header, :main_body, :main_view, :nav, :description, :centered]) %>
</head>
<body>
	<div class="main_body">
		<div class="main_header">DC16 Web-badge</div>	<!-- header -->
		<div class="nav">
			<ul class="nav_list">
				<li><a href="/dc16/index">Home</a></li>
				<li><a href="/dc16/how">How it works</a></li>
				<li><a href="/dc16/story">The story</a></li>
				<li><a href="/dc16/make">Make your own</a></li>
				<li><a href="/dc16/team">The team</a></li>
			</ul>
		</div>
		<div class="main_view">
			<%= yield %>
		</div>
		<div style="clear: both;"></div>
	</div>	<!-- main_body -->
</body>
</html>
